<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<title>Indext Test App</title>
	</head>
	<body>
		<p><a href="/">&lt; Back</a></p>
		<h1>Dolor</h1>
		<p>Nullam et vestibulum massa, et egestas nisi. Sed porta sem id tortor ornare, vitae aliquet quam egestas. In convallis velit nec rutrum sagittis. Aliquam maximus vel enim et fringilla. Nam placerat cursus felis eu bibendum. Mauris porta pellentesque cursus. Pellentesque tellus dolor, facilisis eget magna ac, feugiat placerat massa. Nulla ut tristique urna. Duis sed tortor lacinia diam laoreet pharetra vel eu mauris. Fusce id est mollis, rhoncus ante a, mollis mi. </p>
	</body>
</html>

