<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<title>Indext Test App</title>
	</head>
	<body>
		<p><a href="/">&lt; Back</a></p>
		<h1>Lorem</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus arcu nec tortor faucibus dictum. Donec nibh dui, pretium id leo ut, semper aliquet erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam interdum dolor neque, vitae euismod ipsum rutrum sit amet. Praesent ultricies mauris metus. Vestibulum vehicula mattis ipsum, quis malesuada nisl feugiat vel. Nunc aliquam est enim, quis vehicula augue fringilla nec. Nulla non dui blandit, egestas nisl ut, consectetur diam. </p>
	</body>
</html>

